.App {
  margin: auto;
  text-align: center;
  width: 60%;
  /* max-width: 600px; */
  box-shadow: 0 0 20px black;
  border-radius: 20px;

  background-color: steelblue;
}


span {
  text-decoration: underline;
  font-weight: bold;
  color: teal;
}

.userInfo {
  background-color: whitesmoke;
}

.skills {
  background-color: aliceblue;
}

.contacts {
  background-color: azure;
}


